*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lausanne-350';
    hyphens: auto;
    hyphenate-limit-chars: 7 3 3;
    text-wrap: pretty;
}

@font-face {
    font-family: 'Lausanne-350'; 
    src: url("TWKLausanne-350.otf"); 
}


a {
color: black;
text-decoration: none;
}

.nav-bar {
    width: 100vw;
    text-decoration: underline;
    padding-left: 35px;
    font-size: 15px;
    padding-right: 35px;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.title{
    font-size: 100px;
    padding: 35px;
    line-height: 0.65em;
    word-spacing: .1em;
    text-transform: uppercase;
}

.author{
    padding: 35px;
    padding-top:15px;
    width: 90vw;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.dropdown{
    max-width: 400px;
    display:block;
}



.gap{
    height: 30px;
    margin-left: 35px;
    margin-right: 35px;
    border-bottom: dotted black 2px;
}

.parent{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:35px;
    gap:20px;
}


.child{
    text-indent: none;
}

.image_between{
    margin-top:10%;
    margin-bottom: 5%;
    margin-left:35px;
    margin-right:35px;
    
    padding:none;

    border: none;

}
.subtitle{
    text-transform: none;
}
.empty{
    display:none;
    

}

img {
    height: auto;
    max-width: 100%;
    border: 10px;
    text-align: center;
}


.ending{
    height: 30px;
  
    margin-right: 35px;
    padding-bottom: 200px;
}























@media only screen and (max-width: 1200px){
    .dropdown{
        max-width: 300px;
    }
    .empty{
        display:none;
    }
    .parent{
        grid-template-columns: 1fr 1fr;
        display:grid;
    }
}

@media only screen and (max-width: 1000px){
    .dropdown{
        max-width: 200px;
    }
    
}

@media only screen and (max-width: 800px){
    .dropdown{
        display:none;
    }
    .title{
        font-size: 55px;
        line-height: 0.9em;
    }
    .parent{
        grid-template-columns: 1fr;
        display:grid;
    }
}



